<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://areisid.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>areisid.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>areisid</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$areisid</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="aleksanderreisidContext" Order="1" Enabled="False">
          <Destination Path="Data Source=us-cdbr-azure-west-a.cloudapp.net;Initial Catalog=as_4f8d677fb94a3cd;User ID=b7dac84903b1cb;Password=e57cb0c6" Name="Server=us-cdbr-azure-west-a.cloudapp.net;Database=as_4f8d677fb94a3cd;Uid=b7dac84903b1cb;Pwd=e57cb0c6" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="aleksanderreisid.Models.aleksanderreisidContext, aleksanderreisid" MigrationConfiguration="aleksanderreisid.Migrations.Configuration, aleksanderreisid" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)aleksanderreisidContext-Web.config Connection String">
      <ParameterValue>Server=us-cdbr-azure-west-a.cloudapp.net;Database=as_4f8d677fb94a3cd;Uid=b7dac84903b1cb;Pwd=e57cb0c6</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>