@model IEnumerable<aleksanderreisid.Models.Document>

@{
    ViewBag.Title = "Index";
}
<div id="visaPage" class="container">
    <div id="visaMenu">
        <ul id="visaOptions">
        </ul>
    </div>
    <div id="visaInfo">
                    @foreach (var item in Model)
                    {
                        if (item.Place == 0)
                        {
                            <div optionName="" style="display:none">
                                <h1>@Html.DisplayFor(modelItem => item.Name)</h1>
                                <p>@Html.DisplayFor(modelItem => item.Content) </p>
                            </div>
                        }
                    }

                </div>
    </div>


